#############################################################
## JOB DESCRIPTION                                         ##
#############################################################

# test run of alanine dipeptide in Sphere using mdpack


#############################################################
## SIMULATION PARAMETERS                                   ##
#############################################################

structure           adp.psf
coordinates         adp.pdb
parameters          par_all22_prot.prm
temperature         300
gamma               0.1  #  ps
NHLgamma            100.0  # ps
NHLmu               1.0
initialTime         0.0


# Force-Field Parameters
exclude             1-4   # (means that atoms that are one linear bond or two or 
                          # three will be excluded from non-bonded interaction)
cutoff              12.0
switching           off
switchdist          10.0

# Integrator Parameters
timestep            0.001  # 1 fs (mdpack time unit is in ps)

# Output
outputName           run

writePosition        on
binary               on


#############################################################
## EXTRA PARAMETERS                                        ##
#############################################################

# Spherical boundary conditions
sphericalBC         on
sphericalBCcenter   0.002833 -0.028518 -0.004891
sphericalBCr1       12  
sphericalBCk1       2
sphericalBCexp1     2



